.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  display: flex;
  gap: 10px;
  padding: 5px;
}

.filters {
  display: flex;
  justify-content: space-evenly;
}

.search-filter {
  display: flex;
  gap: 10px;
}
.error {
  color: red;
}